<footer>
    <div class="footer">
        <div class="top-footer">
            <ul class="footer-link">
                <li><a href="#" target="_blank">개인정보처리방침</a></li>
                <li><a href="#" target="_blank">통합정보시스템</a></li>
                <li><a href="#" target="_blank">학사일정</a></li>
                <li><a href="#" target="_blank">주요민원 연락처</a></li>
                <li><a href="#" target="_blank">교내공지사항</a></li>
            </ul>
        </div>

        <div class="footer-container">
            <select class="footer-dropdown">
                    <option>주요사이트</option>
                    <option>그린대학교</option>
                    <option>취업진로지원센터</option>
                    <option>현장실습지원센터</option>
                    <option>학생생활관</option>
            </select>

            <span class="version">[[${appInfo.appName}]] ver. [[${appInfo.appVersion}]]</span>

            <div class="footer-content-box">
                <span class="footer_logo"><img th:src="@{/images/footer_logo.png}" alt="그린대학교"></span>
                <ul class="footer-info">
                    <li>
                        <ul class="footer-contact">
                            <li>
                                <p>그린대학교</p>
                                <p>
                                    <span>[12345] 부산광역시 부산진구 부전대로 123 그린대학교 / </span>
                                    <span>대표전화 : <a href="tel:051-123-1000">051-123-1000 / </a></span><br>
                                    <span>입학안내 : <a href="tel:051-123-1302">051-123-1302</a></span>
                                        <span>팩스 : <a href="tel:051-123-3333">051-123-3333</a> </span>
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="copyright">copyright(C)Green University All Rights Reserved.</p>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</footer>
