<!DOCTYPE html>
<!--
이름 : 김소현
내용 : 커뮤니티 글쓰기
-->
<html>
<head>
    <meta charset="UTF-8">
    <title>3조 - 그린대학교</title>
    <link rel="stylesheet" href="/css/_header.css">
    <link rel="stylesheet" href="/css/_footer.css">
    <link rel="stylesheet" href="/css/Community/view.css">
    <link rel="stylesheet" href="/css/homebar.css">
    <link rel="stylesheet" href="/css/Community/resource.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/__header"/>
    <div class="homebar">
        <article class="inline">
            <a href="/main"><img src="/images/ico-home.png" alt="homeico"></a>
            <img src="/images/bg-path-arrow.png" alt="arrowright">
            <a href="/Community/resource">커뮤니티</a>
            <img src="/images/bg-path-arrow.png" alt="arrowright">
            <a href="/Community/resource">글쓰기</a>
        </article>
    </div>
    <main id="article">
        <section class="view">
            <article class="notice"  style="padding-left: 0; margin-left: 0">
                <div class="noticetop" style="width: 1200px;">
                    <h4 style="padding-left: 10px;">글쓰기</h4>
                </div>
            </article>
            <form th:action="@{/Community/write2}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="writer" th:value="${#authentication.principal.user.id}">
                <input type="hidden" name="cate" th:value="${cate}">
                <table border="0">
                    <tr>
                        <th>제목</th>
                        <td><input type="text" name="title"></td>
                    </tr>
                    <tr>
                        <th>마감일</th>
                        <td><input style="width: 120px"  type="date" name="deadline"/></td>

                    </tr>
                    <tr>
                        <th>파일</th>
                        <td>
                            <input type="file" name="file1"/><br>
                            <input type="file" name="file2"/><br>
                            <p>
                                최대 2개 파일 첨부 가능, 각 파일당 최대 10MB까지 가능
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="content"></textarea>
                        </td>
                    </tr>
                </table>
                <div>
                    <input type="submit" value="작성완료" class="btn btnComplete" style="margin: 30px 0; float: right;"/>
                    <a th:href="@{/Community/{cate}(cate=${cate})}" class="btn btnCancel" style="margin: 30px 10px; float: right;">취소</a>
                </div>
            </form>
        </section>
    </main>
    <th:block th:include="/common/__footer"/>
</div>
</body>
</html>