
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
    /*푸터*/
    footer {
        width: 100%;
        height: auto;
        background-color: #19202D;
    }
    footer .footertxt {
        width: 100%;
        max-width: 1400px;
        height: auto;
        margin: 0 auto;
        padding: 15px;
    }
    footer .footertxt span {
        color: white;
    }
    