<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3조 - 그린대학교</title>
    <th:block th:include="/_headerLink"/>
    <link rel="stylesheet" th:href="@{/css/introduction.css}">
</head>
<!---------------------헤더------------------------------->
<body>
    <div id="wrapper">
        <th:block th:include="/common/__header"/>
        
        <div class="homebar">
            <article class="inline">
                <a th:href="@{/}"><img th:src="@{/images/ico-home.png}" alt="homeico"></a>
                <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
                <a th:href="@{/Introduction/presidentMessage}">대학소개</a>
                <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
                <a th:href="@{/Introduction/organizationalChart}">조직도</a>
            </article>
        </div>
<!---------------------사이드바------------------------------>
    <main>
        
        <section class="sidebar">
            <aside>
                <h2>대학소개</h2>
                <ul class="menu">
                    <li><a th:href="@{/Introduction/presidentMessage}" >총장 인사말</a></li>
                    <li><a th:href="@{/Introduction/educationalPhilosophy}" >교육이념</a></li>
                    <li><a th:href="@{/Introduction/history}" >연혁</a></li>
                    <li><a th:href="@{/Introduction/organizationalChart}" class="on">조직도</a></li>
                    <li><a th:href="@{/Introduction/directions}">오시는 길</a></li>

                </ul>
            </aside>
        </section>
        
    <!-----------------------본문---------------------------------->
        <section class="content">
            <h1>조직도</h1>
                <div class="organization-chart">
                    <div class="level-1">
                        <div class="box green">총장</div>
                    </div>

                    <div class="level-2">
                        <div class="box blue">교무회의</div>
                        <div class="box blue">대학평의원회</div>
                    </div>

                    <div class="level-3">
                        <div class="box dark-green">교학부총장</div>
                        <div class="box dark-green">대외전략부총장</div>
                        <div class="box dark-green">의무부총장</div>
                    </div>

                    <div class="level-4">
                        <div class="column">
                            <div class="box navy">본부</div>
                            <ul>
                                <li><strong>교무처</strong>
                                    <ul>
                                        <li>교무과</li>
                                        <li>교수학습지원센터</li>
                                    </ul>
                                </li>
                                <li><strong>학생처</strong>
                                    <ul>
                                        <li>학생과</li>
                                        <li>취업전략과</li>
                                    </ul>
                                </li>
                                <li><strong>기획처</strong>
                                    <ul>
                                        <li>기획평가과</li>
                                        <li>성과관리센터</li>
                                        <li>지정평가팀</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="column">
                            <div class="box navy">대학</div>
                            <ul>
                                <li>인문대학</li>
                                <li>자연과학대학</li>
                                <li>사회과학대학</li>
                                <li>공과대학</li>
                                <li>의과대학</li>
                                <li>약학대학</li>
                                <li>예술대학</li>
                                <li>정보통신공학대학</li>
                            </ul>
                        </div>

                        <div class="column">
                            <div class="box navy">대학원</div>
                            <ul>
                                <li><strong>전문대학원</strong>
                                    <ul>
                                        <li>국제전문대학원</li>
                                        <li>의료전문대학원</li>
                                    </ul>
                                </li>
                                <li><strong>특수대학원</strong>
                                    <ul>
                                        <li>경영대학원</li>
                                        <li>국제문화대학원</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
           
        </section>
        
    </main>
<!--------------------------푸터-------------------------------->
        <th:block th:include="/common/__footer"/>
    </div>
</body>
</html>