<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3조 - 그린대학교</title>
    <th:block th:include="/_headerLink"/>
    <link rel="stylesheet" th:href="@{/css/admission.css}">
</head>
<!---------------------헤더------------------------------->
<body>
    <div id="wrapper">
        <th:block th:include="/common/__header"/>
        
        <div class="homebar">
            <article class="inline">
                <a th:href="@{/main}"><img th:src="@{/images/ico-home.png}" alt="homeico"></a>
                <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
                <a th:href="@{/Admission/notice}">입학안내</a>
                <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
                <a th:href="@{/Admission/admissionCounseling}">입학상담</a>
            </article>
        </div>


<!---------------------사이드바------------------------------>
<main>
    <article class="side">
        <h2>입학안내</h2>
            <ul>
                <li><a th:href="@{/Admission/notice}" >공지사항</a></li>
                <li><a th:href="@{/Admission/earlyAdmission}" >수시모집</a></li>
                <li><a th:href="@{/Admission/regularAdmission}" >정시모집</a></li>
                <li><a th:href="@{/Admission/transferAdmission}" >편입학</a></li>
                <li style="background-color: #3F97F6;"><a th:href="@{/Admission/admissionCounseling}" class="on" >입학상담</a></li>
            </ul>
    </article>
    <!--본문 -->
    <article class="notice">
        <div class="noticetop">
            <h4>입학상담</h4>
        </div>
        <form class="search">
            <select class="dropdown">
                <option>전체</option>
                <option>제목</option>
                <option>작성자</option>
                <option>내용</option>
            </select>
            <input type="text" value="검색어를 입력해 주세요">
            <button class="searchbtn">검색</button>
        </form>
        <div class="noticemain">
            <table>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>상태</th>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <img src="/images/ico-lock.png" alt="iconew">
                        문의드립니다.
                    </td>
                    <td>홍길동</td>
                    <td>24.04.09</td>
                    <td class="wait">답변대기</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>취업 진로 상담</td>
                    <td>홍길동</td>
                    <td>24.04.09</td>
                    <td class="done">답변완료</td>
                </tr>
                <tr class="manager">
                    <td>3</td>
                    <td>
                        <img src="/images/ico-reply.png" alt="iconew">
                        RE : [답변] 취업 진로 상담
                    </td>
                    <td>담당자</td>
                    <td>24.04.09</td>
                    <td class="done">답변완료</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <img src="/images/ico-lock.png" alt="iconew">
                        취업실전전략1 일반석택 교과목 문의입니다
                    </td>
                    <td>홍길동</td>
                    <td>24.04.09</td>
                    <td class="done">답변완료</td>
                </tr>
                <tr class="manager">
                    <td>1</td>
                    <td><img src="/images/ico-reply.png" alt="iconew">
                        RE : [답변] 취업실전전략1 일반선택 교과목 문의입니다
                    </td>
                    <td>담당자</td>
                    <td>24.04.09</td>
                    <td class="done">답변완료</td>
                </tr>
            </table>
            <article class="pagebtn">
                <a href=""><img th:src="@{/images/btn-first-page.png}" alt="firstarr"></a>
                <a href=""><img th:src="@{/images/btn-prev-page.png}" alt="firstarr"></a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href=""><img th:src="@{/images/btn-next-page.png}" alt="firstarr"></a>
                <a href=""><img th:src="@{/images/btn-last-page.png}" alt="firstarr"></a>
            </article>
        </div>
    </article>
    
</main>
<!--------------------------푸터-------------------------------->
        <th:block th:include="/common/__footer"/>
</div>
</body>
</html>
    
