<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>3조 - 그린대학교</title>
    <th:block th:include="/_headerLink"/>
    <link rel="stylesheet" th:href="@{/css/Bachelor/BacSubscribe.css}">

</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/__header"/>
    <div class="homebar">
        <article class="inline">
            <a th:href="@{/}"><img th:src="@{/images/ico-home.png}" alt="homeico"></a>
            <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
            <a th:href="@{/Bachelor/BacNotice}">학사안내</a>
            <img th:src="@{/images/bg-path-arrow.png}" alt="arrowright">
            <a th:href="@{/Bachelor/BacSubscribe}">수강신청</a>
        </article>
    </div>
    <main>
        <article class="side">
            <h4>학사안내</h4>
            <ul>
                <li><a th:href="@{/Bachelor/BacNotice}">공지사항</a></li>
                <li><a th:href="@{/Bachelor/BacSchedule}">학사일정</a></li>
                <li><a th:href="@{/Bachelor/BacSubscribe}">수강신청</a></li>
                <li><a th:href="@{/Bachelor/BacResult}">성적</a></li>
                <li><a th:href="@{/Bachelor/BacGrad}">수료 및 졸업</a></li>
                <li><a th:href="@{/Bachelor/BacQuestion}">자주묻는질문</a></li>
            </ul>
        </article>
        <article class="signup">
            <div class="signuptop">
                <h4>수강신청</h4>
            </div>
            <div class="duration">
                <h4><img th:src="@{/images/bullet-h4.png}" alt="h4">수강신청기간</h4>
                <p>-매학기 수강신청은 개강 전에 실치, 학생은 수강신청 공고를 충분히 숙지한 다음, 수강신청 기간에 인터넷을 통해 신청과목을 입력<br>
                    -필요한 경우 학과사무실의 학사상담이나 지도교수의 지도를 받을 수 있으며, 반드시 학년별 지정된 날짜에 수강신청 완료<br>
                    - 자세한 설명은 학사일정 공지사항 게시판 참조</p>
            </div>
            <div class="score">
                <h4><img th:src="@{/images/bullet-h4.png}" alt="h4">수강신청 학점</h4>
                <p>- 학기당 이수학점 : 18학점 이내(논문과목 별도) [대학 학칙  제20조]</p>
            </div>
            <div class="durationtable">
                <h4><img th:src="@{/images/bullet-h4.png}" alt="h4">학부(과)별 신청 학점 </h4>
                <table>
                    <tr>
                        <th colspan="2">수강신청 학점수</th>
                        <th>대상학부(과)</th>
                    </tr>
                    <tr>
                        <td>졸업학점이 130-140학점인 학부(과)</td>
                        <td>최저 15학점, 최대 21학점</td>
                        <td>인문대학, 사회과학대학, 경영대학, 공과대학,<br>
                            자연과학대학, 간호대학, 글로벌융합대학, 소<br>
                            프트웨어융합대학, 미디어스쿨, 데이터과학융<br>
                            합스쿨, 나노융합스쿨, 미래융합스쿨</td>
                    </tr>
                    <tr>
                        <td>졸업학점이 130학점인 학부(과)</td>
                        <td>최저 12학점, 최대 18학점</td>
                        <td>의과대학 의예과(수료학점은 72이상)</td>
                    </tr>
                    <tr>
                        <td>졸업학점이 150학점인 학부(과)</td>
                        <td>최저 15학점, 최대 26학점</td>
                        <td>의과대학 의학과 </td>
                    </tr>
                </table>
                <article class="tabletxt">
                    <p>- 4학년 1학기에는 12학점 이상, 최종학기에는 1과목 이상 수강신청 하여야 한다.<br>
                        - 직전학기 성적이 3.75 이상인 학생은 최대학점에서 3학점까지 초과 이수할 수 있다.<br>
                        - 장학생 선발은 직전학기에 평점평균 2.0 이상을 취득하여야 하며, 대학별 기준학점 이상을 이수하여야 한다.(학생지원팀 055-123-1010 문의)</p>
                </article>
            </div>
            <div class="change">
                <h4><img th:src="@{/images/bullet-h4.png}" alt="h4">수강신청 변경 및 수강과목 철회</h4>
                <p>- 수강 신청한 과목을 철회하고자 할 때에는 수업주수 4분의 1이전까지 정해진 기간에 해당 교과목을 해당 사이트를 통하여 철회할 수 있음<br>
                    - 학기당 2과목까지 철회할 수 있으나, 철회로 수강인원이 폐강기준인원 미만이 되는 교과목은 수강철회를 불허<br>
                    - 철회 후 수강신청학점이 학기 당 최저 이수학점 이상이 되어야 함</p>
            </div>
            <div class="signupbutton">
                <button>수강신청하기 <img th:src="@{/images/bg-link.png}" alt=""></button>
            </div>
        </article>
    </main>
    <th:block th:include="/common/__footer"/>
</div>

</body>
</html>